/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-style: italic;
  color: #373fff;
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gamebtnarea > button {
  
  width: 198px;
  height: 198px;
  margin:2px;
  transition: .2s;
  transition-timing-function: ease-in;

}




.hidden{
  display: none;
}

#btn1 {
  background-color: lightgreen;
}


#gamebtnarea > #btn1:active, #btn1.lit{
  background: radial-gradient(lightgreen, green);
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 20px lightgreen; 
}

#btn2 {
  background-color: lightblue;

}

#gamebtnarea > #btn2:active, #btn2.lit {
  background: radial-gradient(lightblue, blue);
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 20px lightblue; 
  
}

#btn3 {
  background-color: pink;
}

#gamebtnarea > #btn3:active, #btn3.lit  {
  background: radial-gradient(pink, red);
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 20px pink; 
  
}

#btn4 {
  background-color: lightyellow;
}


#gamebtnarea > #btn4:active, #btn4.lit  {
  background: radial-gradient(lightyellow, yellow);
  width:200px;
  height: 200px;
  box-shadow: 0px 0px 20px lightyellow; 
}

